.itemWrap {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--elements-dark-theme);
    transition:
        background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out,
        transform 0.3s linear;

    &:hover {
        transform: scale(1.01);
        background: linear-gradient(
            141deg,
            rgba(245, 245, 245, 1) 71%,
            rgba(218, 217, 216, 1) 100%
        );
    }

    &.dark {
        background-color: var(--main-color-90);

        &:hover {
            background: linear-gradient(
                141deg,
                rgba(30, 30, 30, 1) 71%,
                rgba(246, 0, 158, 1) 100%
            );
        }

        > * {
            color: var(--elements-dark-theme);
        }
    }
}

.idPart {
    width: 30px;
}

.controls {
    width: fit-content;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bodyPart {
    width: 600px;
    margin: 0 10px;
    font-weight: bold;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    align-items: flex-end;
}
