:root {
    --backgound-light: white;
    --backgound-dark: #616161;

    --elements-light-theme: #1E1E1E;
    --elements-dark-theme: #F5F5F5;

    --main-color-90: #1E1E1E;
    --main-color-60: #FAE20A;
    --main-color-30: #F6009E;
    --main-color-10: #4A0D66;
    --secondary-color-90: #63E8F9;
    --secondary-color-60: #F5F5F5;

    --shade-100: #54524D;
    --shade-80: #858380;
    --shade-60: #B6B4B2;
    --shade-40: #DAD9D8;
    --shade-20: #F2F2F2;
    --shade-0-white: #FFFFFF;

    --z-index-10: 10;
    --z-index-20: 20;
    --z-index-30: 30;
    --z-index-40: 40;
    --z-index-50: 50;
}
