:root {
    --backgound-light: white;
    --backgound-dark: #616161;

    --elements-light: #212121;
    --elements-dark: white;

    --main-color-90: #5EABD6;
    --main-color-60: #FEFBC7;
    --main-color-30: #FFB4B4;
    --main-color-10: #E14434;

    --z-index-10: 10;
    --z-index-20: 20;
    --z-index-30: 30;
    --z-index-40: 40;
    --z-index-50: 50;
}
