.wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: var(--elements-light-theme);
    z-index: var(--z-index-50);
    background-color: var(--secondary-color-60);
    transition: background-color 0.2s linear;

    &.dark {
        color: var(--elements-dark-theme);
        background-color: var(--main-color-90);
    }
}

.navigateBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headerWrap {
    display: flex;
    width: 920px;
    margin: 0 auto;
}

.navigateMenu {
    display: flex;
    gap: 5px;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.leftMenu {
    display: flex;
    gap: 5px;
    margin-left: auto;
}
