.addNewWrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 63px;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid var(--elements-light-theme);
    background-color: var(--main-color-30);
    z-index: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
    color: transparent;
    font-weight: bold;
    flex-direction: column;

    &:hover {
        color: var(--elements-light-theme);
        top: 80px;
    }
}

.opened {
    width: 300px;
    height: 200px;
    top: 90px;
    cursor: inherit;

    &:hover {
        top: 90px;
    }
}

.cross {
    position: absolute;
    top: 15px;
    left: 10px;
    border-radius: 50%;
    border: 1px solid var(--elements-light-theme);
    font-weight: bold;
    cursor: pointer;
}

.input {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
    resize: none;
}

.btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid var(--elements-light-theme);
    border-radius: 4px;
    cursor: pointer;
}
